@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=DM+Serif+Display|Roboto:400,500&display=swap');
/* font-family: 'Roboto', sans-serif; font-family: 'DM Serif Display', serif; */

/* reset */

* { margin:0; padding:0; box-sizing:border-box;}
ul {list-style:none;}
a {text-decoration:none;}
h1,h2 {margin:0;}
html {font-size:0.625em; /* 10px */color:#434044;}
body {font-family: 'roboto',Arial,sans-serif; line-height: 1;}
button {border:none; background-color:transparent; cursor:pointer;}
.blind {display:none;}
.pc,.tablet {display:none;}
nav {font-family: 'DM Serif Display', serif;}
input {border:none;}
.clearfix:after {content=""; display:block; clear:both;}

.swiper_slide .slick-arrow {
    text-indent:-9999px;
}

/* header */

header {
    position:relative; top:0; left:0;
    width:100%; overflow:hidden;
}
#navWrap {
    position:fixed; top:0; left:0;
    width:100%; height:65px; z-index:15;
}
#navWrap h1 {
    position:absolute; top:15px; left:20%; margin-left:-60px;
    width:165px; z-index:10;
}
#navWrap h1 img {
    width:100%;
}
#navWrap .navBtn {
    position:absolute; top:25px; right:6.5%;
    width:30px; height:15px;
    z-index:10;
}
#navWrap .navBtn span {
    display:block; height:4px;
    background-color:#fff;
    border-radius:5px;
}
#navWrap .navBtn span:nth-child(1){
    margin-bottom:7px;
}

/* navWrap scroll_on */

.scroll_on {
    background-color:rgba(255,255,255,0.7); 
}
.scroll_on .navBtn span {
    background-color:#000 !important;
}

/* button on */
.navBtn span {
    transform:translateY(0) rotate(0deg);
    transition:transform 0.3s ease-out;
}
.navBtn.on span:nth-child(1) {
    transform:translateY(5.5px) rotate(45deg);
}
.navBtn.on span:nth-child(2) {
    transform:translateY(-5.5px) rotate(-45deg);
}

/* nav */
nav {
    display:none;
    position:fixed; top:0; left:0;
    width:100%; height:100%;
    background-color:rgba(214,111,106,90%); 
    z-index:5;
    font-size:3.8em;
}
nav .navInner {
    position:relative; top:0; left:0;
    height:100%;
    margin:247px 0;
}
nav .gnb {
    text-align:center;
    width:100%;
    position:relative;
}
nav .gnb li {
}
nav .gnb li a {
    position:relative; width:150px; height:36px;
    display:inline-block;
    margin-bottom:55px;
    color:#fff;
}
nav .gnb li a:before {
    content:""; position:absolute; bottom:0; left:50%;
    width:0; height:13px; background-color:#46877c; z-index:-1;
    transform:translate(-50%);
    transition: all 0.2s ease;
}
nav .gnb li a:hover:before {
    width:163px;
}

/* menu hover */

/* main_visual */
.main_visual {
    position:relative;
    text-align:center;
    background-color:#434044;
    width:100%; height:812px;
}
.main_visual .main_img {
    position:absolute; top:0; left:0;
    width:100%; height:100%;
    background-repeat: no-repeat;
    background-position:30% center;
    background-size:cover;
}
.main_visual .main_slide .active {
    z-index:1;
}
.main_visual .main_img:nth-child(1) {
    background-image:url(../img/sika_bg_main.jpg);
}
.main_visual .main_img:nth-child(2) {
    background-image:url(../img/sika_bg_main_02.jpg);
}
.main_visual .main_img:nth-child(3) {
    background-image:url(../img/sika_bg_main_03.jpg);
}
.main_visual .main_text {
    position:absolute; top:279px;
    width:100%;
    text-align:center; color:#fff;
    z-index:2;
}
.main_visual .main_text p:nth-child(2) {
    font-size:1.3em; margin-bottom:23px;
    letter-spacing: 5px;
}
.main_visual .main_text p:nth-child(3) {
    font-family: 'DM Serif Display';
    font-size:3.6em; line-height:1.389em;
    margin:0 auto; width:90%;
}
.main_visual .scroll_svg {
    width:25px; height:25px;
    position:absolute; bottom:64px; left:50%; margin-left:-12.5px;
}

/* main contents */

/* story */
#story {
    position:relative;
    padding:58px 22px 49px 23px; overflow:hidden;
}
#story .text_box span {
    display:block; 
    color:#d66f6a; font-family: 'DM Serif Display';
}
#story .text_box span:nth-child(1) {
    font-size:2.9em;
    margin-bottom:11px;
}
#story .text_box span:nth-child(2) {
    font-size:5em;
}
#story .story_left {
    position:relative; width:100%; height:447px; 
    margin-top:76px;
}
#story .story_left .box_left {
    position:absolute; margin-top:137px; left:-23px;
    width:243px; height:309px; background-color:#ebddd7;
    z-index:-3;
}
#story .story_left .img_left {
    background:url(../img/sika_story_left.jpg) no-repeat center;
    background-size:cover;
    position:absolute; width:100%; height:357px;
}
#story .story_middle {
    position:relative; bottom:52px; 
    width:100%; height:503px;
}
#story .story_middle .box_middle {
    position:absolute; margin-top:158px; right:-22px;
    width:293px; height:345px; background-color:#ebddd7; z-index:-1
}
#story .story_middle .img_middle {
    background:url(../img/sika_story_middle.jpg) no-repeat center;
    background-size:cover;
    position:absolute; width:100%; height:357px; z-index:10;
}
#story .story_text {
    position:relative; top:-121px; left:0; 
    width:100%; height:192px; font-size:1.5em; line-height:1.65;
    text-align:center;
}
#story .story_text p {
    text-align:left;
}
#story .story_text p span {
    color:#46877c; font-weight:500;
}
#story .about_us {
    margin:0 auto;
    padding-top:40px; z-index:3;
}
#story .about_us > span {
    display:inline-block;
    width:330px; height:70px; background-color:#d66f6a;
    border-radius:5px; z-index:10;
}
#story .about_us span a {
    display:block; width:100%; height:100%;
    text-align:center; font-size:1.3em; line-height:70px;
    color:#fff;
}
#story .about_us span span {
    display:block;
}
#story .arrow_right {
    display:none;
}

/* discover */
#discover {
    position:relative; top:0; left:0;
    padding:58px 22px 49px 23px; overflow:hidden;
    background-color:#f5f5f5;
}
#discover .text_box span {
    display:block; 
    color:#d66f6a; font-family: 'DM Serif Display';
}
#discover .text_box span:nth-child(1) {
    font-size:2.9em;
    margin-bottom:11px;
}
#discover .text_box span:nth-child(2) {
    font-size:5em;
}
#discover .swiper-cont {
    margin-top:50px;
    width:1000px; height:606px;
}
#discover .swiper_list {
    width:100%; height:606px;
}
#discover .img_wrap_inner {
    position:relative; top:0; left:0;
    float:left; padding-right:24px;
    width:200px;
}
#discover .img_wrap_inner img {
    width:299px;
}
#discover .img_wrap_inner .info {
    position:relative; width:100%; height:100%;
    padding-top:22px;
}
#discover .img_wrap_inner .info p:nth-child(1) {
    font-family: 'DM Serif Display', serif;
    font-size:1.6em;
}
#discover .img_wrap_inner .info p:nth-child(2) {
    font-size:2.7em; font-weight:500;
    padding-top:22px; display:inline-block;
    border-bottom:4px solid #46877c; padding-bottom:8px; 
}
#discover .show_product {
    margin:0 auto; text-align:center;
}
#discover .show_product > span {
    display:inline-block;
    width:330px; height:70px; background-color:#d66f6a;
    border-radius:5px;
}
#discover .show_product span a {
    display:block; width:100%; height:100%;
    text-align:center; font-size:1.9em; line-height:70px;
    color:#fff; font-weight:500;
}
#discover .show_product span span {
    display:block;
}
#discover .arrow_right {
    display:none;
}

/* designer */
#designer {
    position:relative; top:0; left:0;
    padding:52px 22px 52px 23px; overflow:hidden;
    text-align:center;
}
#designer p:nth-child(2) {
    font-size:1.25em; letter-spacing:7px;
    padding-bottom:40px;
}
#designer .main_txt {
    z-index:4; position:relative;
    font-family: 'DM Serif Display', serif;
    font-size:2.4em; line-height:1.292em; 
}
#designer p:nth-of-type(2) {
    margin-bottom:-40px;
}
#designer p:nth-of-type(3) {
    margin-top:-28px;
}
#designer .main_txt span{
    color:#46877c;
}
#designer .designer_img {
    position:relative; width:80%; height:100%;
    margin:0 auto;
    z-index:3;
}
#designer .designer_img a{
    display:inline-block; width:100%; height:100%;
}
#designer .designer_img img{
    width:57.333%; height:auto;
}
#designer .designer_box div {
    position:absolute;
    width:70%; height:80px;
    background-color:#ebddd7;
}
#designer .designer_box div:nth-child(1) {
    top:100px; left:0;
}
#designer .designer_box div:nth-child(2) {
    bottom:100px; right:0;
}
/* location */
#location {
    position:relative; top:0; left:0;
    padding:52px 22px 40px 23px;
    background-color:#f5f5f5;
}
#location .location_box {
    position:absolute; top:-27px; left:-23px; 
    width:263px; height:198px;
    background-color:#ebddd7;
}
#location .location_img_box {
    position:relative; width:100%; height:300px;
}
#location .location_img_box > div:nth-child(1) {
    position:absolute; top:0; left:0;
    width:100%; height:100%;
    background:rgba(0,0,0,.35); text-align:center;
}
#location .location_img_box div:nth-child(2) {
    background:url(../img/sika_search_store.jpg) no-repeat -40px 0;
    background-size:cover; width:100%; height:100%;
}
#location .location_img_box > div:nth-child(1) p {
    font-size:2.5em; font-family: 'DM Serif Display', serif;
    color:#fff; line-height:1.4em;
    padding-top:126px;
}
#location .find_store {
    width:100%; height:160px; 
    background-color:#fff; margin-top:24px;
    padding:22px 25px 20px 17px;
}
#location .find_store p:nth-child(1) {
    font-size:1.8em; font-weight:500;
    display:inline-block;
    border-bottom:4px solid #d66f6a; padding-bottom:7px; 
    margin-bottom:10px;
}
#location .find_store p:nth-child(2) {
    font-size:1.4em; line-height:1.429em; font-weight:500;
    margin-bottom:15px;
}
#location .find_store .input_holder {
    display:block; width:100%; border-bottom:2px solid #434044;
    padding-bottom:4px;
}
#location .find_store .input_holder input {
    font-size:1.3em;
    display:inline-block; width:80%;
}
#location .find_store .input_holder button {
    text-indent:-9999px;
    width:13px; height:13px;
    float:right; background-color:black;
    background:url(../img/sika-svg-search.svg) no-repeat center;
    background-size:cover;
}

/* footer */
footer {
    position:relative;
    top:0; left:0;
    padding:27px 22px 41px 23px;
    background-color:#d66f6a;
}
footer .footer_inner {
    width:100%; height:100%;
}
footer .footer_inner .footer_info {
    padding-bottom:29px; text-align:center;
}
footer .footer_inner .footer_info span {
    display:block; color:#fff;
    font-size:1.5em; line-height:1.4em; font-weight:500;
}
footer .footer_inner .footer_info span a {
    color:#fff;
}
footer .footer_inner .footer_info span:last-child {
    padding-top:29px;
}

footer .footer_inner .footer_sns_wrap {
    width:90%; text-align:center; margin:0 auto;
}
footer .footer_inner .footer_sns_wrap a {
    display:inline-block; text-indent:-9999px;
    width:30px; height:25px; margin-right:30px;
}
footer .footer_inner .footer_sns_wrap a:nth-child(1) {
    background:url(../img/sika_sns_facebook.png) no-repeat 50%;
    background-size:contain;
}
footer .footer_inner .footer_sns_wrap a:nth-child(2) {
    background:url(../img/sika_sns_pinterest.png) no-repeat 50%;
    background-size:contain;
}
footer .footer_inner .footer_sns_wrap a:nth-child(3) {
    background:url(../img/sika_sns_instagram.png) no-repeat 50%;
    background-size:contain;
}
footer .footer_inner .footer_sns_wrap a:nth-child(4) {
    background:url(../img/sika_sns_twitter.png) no-repeat 50%;
    background-size:contain;
}
footer .footer_inner .footer_sns_wrap a:nth-child(5) {
    background:url(../img/sika_sns_youtube.png) no-repeat 50%;
    background-size:contain; margin-right:0;
}


/* svg */

#story .sika_svg {
    width:40%; height:105px;
    position:absolute; top:65px; left:47%;
    z-index:-1; transition:opacity .5s;
}
#story #sika_svg01 {
    fill:rgba(255,255,255,1);
    stroke:rgba(214,111,106,0.5);
}
#story #sika_svg01 .st1 {
    fill:(255,255,255,0);stroke:rgba(214,111,106,0.3);stroke-miterlimit:10;
}
#story #sika_svg01 .st1.fill {
    fill:rgba(214,111,106,0.2);
    stroke:rgba(214,111,106,0.2);
    transition:all 1s;
    
}

#story .design_svg {
    width:80%; height:105px;
    position:absolute; bottom:180px; right:50%; margin-right:-50%; z-index:-1;
}
#story .design_svg #design_svg01 {
    fill:rgba(255,255,255,1);
    stroke:rgba(214,111,106,0.5);
}
#story .design_svg #design_svg01 .st1 {
    fill:(255,255,255,0);stroke:rgba(214,111,106,0.3);stroke-miterlimit:10;
}
#story .design_svg #design_svg01 .st1.fill {
    fill:rgba(214,111,106,0.2);
    stroke:rgba(214,111,106,0.2);
    transition:all 1s;
}


/* main tablet 768 size */

@media screen and (min-width:768px) {
    
    .tablet {
        display:block;
    }
    
    /* header */
    
    #navWrap {
        height:70px;
    }
    #navWrap h1 {
        width:200px; margin-left:-80px;
        left:15%;
    }
    #navWrap .navBtn {
        top:20px;
        width:55px; height:30px;
    }
    #navWrap .navBtn span {
        height:6px;
    }
    #navWrap .navBtn span:nth-child(1) {
        margin-bottom:10px;
    }
    
    /* nav */
    nav {
        font-size:4.5em;
        height:100%;
    }
    nav .gnb li a {
        width:200px;
    }
    nav .gnb li a:hover:before {
        width:213px;
    }
    .navBtn.on span:nth-child(1) {
        position:relative; top:5px;
    }
    
    /* main visual */
    .main_visual {
        height:940px;
    }
    .main_visual .main_text {
        top:300px;
    }
    .main_visual .main_text p:nth-child(2) {
        font-size:1.7em;
    }
    .main_visual .main_text p:nth-child(3) {
        font-size:6.2em; line-height:1.355em;
    }
    .main_visual .scroll_svg {
        width:40px; height:40px;
    }
    
    /*story*/
    #story {
        padding:114px 37px 107px 44px; 
    }
    #story .text_box span:nth-child(1) {
        font-size:4em;
    }
    #story .text_box span:nth-child(2) {
        font-size:6.5em;
    }
    #story .story_left {
        width:62.21%; height:837px;
        margin-top:135px; left:-44px;
    }
    #story .story_left .box_left {
        width:486px; height:284px;
        margin-top:554px; 
    }
    #story .story_left .img_left {
        width:100%; height:618px; z-index:5;
    }
    #story .story_middle {
        width:74.56%; height:690px;
        margin-top:-400px; float:right;
    }
    #story .story_middle .box_middle {
        width:70%; height:870px;
        margin-top:-525px; right:-36.5px;
    }
    #story .story_middle .img_middle {
        width:100%; height:690px;
        float:right;
    }
    #story .story_text {
        top:0; z-index:5;
        font-size:1.7em; font-weight:500;
        line-height:1.353em;
        margin:45px 0 106px 0;
        float:left;
    }
    #story .story_text p {
        width:72%; 
        display:inline-block; text-align:center;
    }
    #story .story_text:after {
        content:""; display:block; clear:both;
    }
    #story .about_us > span {
        width:348px; height:100px; position:relative; 
    }
    #story .about_us > span a {
        line-height:100px; font-size:1.353em;
    }
    #story .about_us .arrow_right svg {
        fill:#fff; transform:translateX(-60px);
        width:30px;
        transition:all 0.4s ease-out;
    }
    #story .about_us .arrow_right {
        display:block;
        width:80px;
        position:absolute; top:5px; left:70px;
        overflow:hidden;   
    }
    #story .about_us > span span {
        width:100%;
        transition:all 0.4s ease-out;
    }
    #story .about_us > span:hover .arrow_right svg{
        transform:translateX(0px);
    }
    #story .about_us > span:hover span {
        width:120%;
    }
    #story .sika_svg {
        width:300px; height:210px;
        right:0; top:100px; margin-left:30px;
        z-index:1;
    }
    #story .design_svg {
        width:630px; height:210px; 
        bottom:320px; left:50%; margin-left:-319px;
    }
    
    /* discover */
    #discover {
        padding:100px 37px 107px 44px; 
    }
    #discover .text_box span:nth-child(1) {
        font-size:4em;
    }
    #discover .text_box span:nth-child(2) {
        font-size:6.5em;
    }
    #discover .swiper-cont {
        margin-top:80px;
    }
    #discover .swiper_list {
        margin-left:25px;   
    }
    #discover .img_wrap_inner .info p:nth-child(1) {
        font-size:1.5em;
    }
    #discover .img_wrap_inner .info p:nth-child(2) {
        font-size:2.5em; padding-bottom:10px; 
    }
    #discover .show_product > span {
        width:348px; height:100px; 
    }
    #discover .show_product > span a {
        line-height:100px; font-size:2.3em;
    }
    #discover .show_product {
        padding-top:50px;
    }
    #discover .swiper-cont {
        width:120%;
    }
    #discover .img_wrap_inner {
        position:relative; width:100%;
    }
    #discover .img_wrap_inner img {
        width:100%;
    }
    #discover .img_wrap_inner > a {
        position:relative;
        display:block;
        width:100%; height:100%;
    }
    #discover .inner_hover_info {
        opacity:0;
        position:absolute; top:0; left:0;
        width:100%; height:100%;
        background-color:rgba(0,0,0,0.45);
        text-align:center; color:#fff;
        font-size:2em;
        transition:opacity 0.5s;
    }
    #discover .inner_hover_info .price {
        position:relative;
        top:200px;
    }
    #discover .inner_hover_info .show_detail {
        position:relative; top:300px; width:45.33%;
        border-bottom:4px solid #fff; display:inline-block;
        padding-bottom:8px;
    }
    #discover .img_wrap_inner > a:hover .inner_hover_info {
        opacity:1;
    }
    #discover .show_product > span {
        height:100px; position:relative;
    }
    #discover .show_product .arrow_right {
        display:block;
        width:70px;
        position:absolute; top:5px; left:50px;
        overflow:hidden;
    }
    #discover .show_product .arrow_right svg {
        fill:#fff; transform:translateX(-60px);
        width:30px;
        transition:all 0.4s ease-out;
    }
    #discover .show_product > span:hover .arrow_right svg {
        transform:translateX(-10px);
    }
    #discover .show_product > span span {
        width:100%;
        transition:all 0.4s ease-out;
    }
    #discover .show_product > span:hover span {
        width:120%;
    }
    
    /*button */
    #discover .swiper-cont .slick-prev, #discover .slick-next {
        width:40px; height:40px;
        position:absolute; top:0; left:17px;
    }
    #discover .swiper-cont svg {
        fill:#575358; transition: fill 0.2s ease;
    }
    #discover .swiper-cont .slick-prev:hover svg {
        fill:#d66f6a;
    }
    #discover .swiper-cont .slick-next:hover svg {
        fill:#d66f6a;
    }
    #discover .swiper-cont .slick-prev {
        top:475px;
    }
    #discover .swiper-cont .slick-next {
        top:532px;
    }
    
    /* designer */
    #designer {
        padding:100px 37px 150px 44px;
    }
    #designer p:nth-child(2) {
        font-size:1.7em; letter-spacing:15px;
    }
    #designer .main_txt {
        font-size:4em; line-height:1.375em;
    }
    #designer .designer_img img {
        width:67.33%;
    }
    #designer .designer_box div {
        height:150px;
    }
    #designer .designer_box div:nth-child(1) {
        top:200px;
    }
    #designer .designer_box div:nth-child(2) {
        bottom:200px;
    }
    
    /* location */
    #location {
        padding:105px 37px 102px 44px;
    }
    #location .location_box {
        width:526px; height:390px;
        padding-top:-45px; left:-44px;
    }
    #location .location_img_box {
        height:600px; margin-top:150px; z-index:1;
    }
    #location .location_img_box div:nth-child(2) {
        width:100%; height:100%;
    }
    #location .location_img_box > div:nth-child(1) {
        text-align:right; background:none;
        top:-180px;
    }
    #location .location_img_box > div:nth-child(1) p {
        font-size:5.6em; line-height:1.5em; color:#434044;
        padding-top:0;
    }
    #location .find_store {
        width:46.48%; height:243px;
        position:relative;
        float:right; margin-top:-120px;
        padding:44px 40px 44px 40px; z-index:2;
    }
    #location:after {
        content:""; display:block; clear:both;
    }
    #location .find_store p:nth-child(1) {
        font-size:3em; border-bottom:5px solid #d66f6a;
    }
    #location .find_store p:nth-child(2) {
        font-size:1.8em; line-height:1.56em;
        margin-bottom:30px;
    }
    #location .find_store .input_holder input {
        font-size:1.4em;
    }
    #location .find_store .input_holder button {
        width:16px; height:16px;
    }
    
    /*footer*/
    footer {
        padding:28px 37px 28px 44px;
    }
    footer .footer_inner .footer_info {
        float:left; text-align:left;
        width:60%; padding-bottom:0;
    }
    footer .footer_inner .footer_info span {
        display:inline-block; line-height:1.56em;
    }
    footer .footer_inner .footer_info span:after {
        content:"|"; margin:0 5px;
    }
    footer .footer_inner .footer_info span:nth-child(2) a {
        display:inline-block;
        color:#fff;
        transition:color 0.3s ease-out;
    }
    footer .footer_inner .footer_info span:nth-child(3) a {
        display:inline-block;
        color:#fff;
        transition:color 0.3s ease-out;
    }
    footer .footer_inner .footer_info span:nth-child(2) a:hover {
        color:#ebddd7;
    }
    footer .footer_inner .footer_info span:nth-child(3) a:hover {
        color:#ebddd7;
    }
    footer .footer_inner .footer_info span:last-child {
        padding-top:0;
    }
    footer .footer_inner .footer_info span:last-child:after {
        content:"";
    }
    footer .footer_inner:after {
        content:""; display:block; clear:both;
    }
    footer .footer_inner .footer_sns_wrap {
        float:right; position:relative; top:10px;
        width:40%; text-align:right;
    }
    footer .footer_inner .footer_sns_wrap a {
        width:24px; height:24px; text-indent:9999px;
        overflow:hidden;
    }
}


/* main tablet 1024 size */

@media screen and (min-width:1024px) {
    
    .pc {
        display:block;
    }
    
    /* header */
    #navWrap {
        height:80px;
    }
    #navWrap h1 {
        width:220px; 
        top:16px; left:5.273%;
        margin-left:0;
    }
    #navWrap .navBtn {
        display:none;
    }
    #navWrap nav {
        display:block;
    }
    
    /* nav */
    nav {
        background-color:transparent;
        font-family: 'Roboto', sans-serif;
        font-size:1.8em; font-weight:500;
        height:80px;
        display:block !important;
    }
    nav .navInner {
        height:100%;
        margin-top:33px;
    }
    nav .gnb {
        width:50%;
        float:right;
        right:-6%;
    }
    nav .gnb:after {
        content:""; display:block; clear:both;
    }
    nav .gnb li {
        float:left;
        color:#fff;
    }
    nav .gnb li a {
        width:100%; height:100%;
        padding:0 20px; text-align:center;
        transition:color 0.2s ease-out; color:#fff;
    }
    nav .gnb li a.scroll_on_02 {
        color:#000; background-color:transparent;
    }
    nav .gnb li a:before {
        height:30px; display:block; 
        background-color:#d66f6a;
        bottom:-5px;
    }
    nav .gnb li a:hover:before {
        width:80%;
    }
    nav .gnb li a:hover {
        color:#fff;
    }
    
    /* main visual */
    .main_visual {
        height:940px;
    }
    .main_visual .main_text {
        top:407px;
    }
    .main_visual .main_text p:nth-child(3) {
        font-size:7.6em; line-height:1.41em;
    }
    .main_visual .scroll_svg {
        display:none;
    }
    
    /* story */
    #story {
        padding:111px 54px 0 54px; 
    }
    #story .text_box span:nth-child(1) {
        font-size:4.5em;
    }
    #story .text_box span:nth-child(2) {
        font-size:7em;
    }
    #story .story_left {
        width:59%; height:900px;
        left:-55px;
    }
    #story .story_left .img_left {
        width:91%; height:700px;
        margin-left:54px;
    }
    #story .story_middle {
        width:71.68%; height:800px;
        margin-top:-600px; right:-54px;
        float:right;
    }
    #story .story_middle:after {
        content:""; display:block; clear:both;
    }
    #story .story_middle .box_middle {
        width:80.75%; height:870px;
    }
    #story .story_middle .img_middle {
        width:92.64%; height:800px;
    }
    #story .story_text {
        width:65.43%;
    }
    #story .story_right {
        position:relative; bottom:52px; 
        width:34.47%; height:503px; float:right;
    }
    #story .story_right .box_right {
        position:absolute; top:210px; right:-54px;
        width:353px; height:345px; background-color:#ebddd7;
    }
    #story .story_right .img_right {
        background:url(../img/sika_story_right.jpg) no-repeat center;
        background-size:cover; float:right;
        position:absolute; top:-92px; right:-54px;
        width:85%; height:400px;
    }
    #story .sika_svg {
        right:0; bottom:400px;
    }
    #story .design_svg {
        left:40%; bottom:400px;
    }
    
    /* discover */
    
    #discover {
        padding:111px 54px 130px 54px; 
    }
    #discover .text_box span:nth-child(1) {
        font-size:4.5em;
    }
    #discover .text_box span:nth-child(2) {
        font-size:7em;
    }
    #discover .swiper-cont {
        width:120%;
        height:100%;
    }
    #discover .swiper_list {
        margin-left:60px;   
    }
    #discover .img_wrap_inner {
        padding-right:70px; width:100%;
    }
    #discover .img_wrap_inner img {
        width:350px;
    }
    #discover .img_wrap_inner > a {
        width:350px;
    }
    #discover .img_wrap_inner .info p:nth-child(1) {
        font-size:1.8em; padding-top:10px;
    }
    #discover .show_product {
        padding-top:120px;
    }
    #discover .inner_hover_info .price {
        position:relative;
        top:280px;
    }
    #discover .inner_hover_info .show_detail {
        top:400px;
    }
    
    /*button */
    #discover .swiper-cont .slick-prev, #discover .slick-next {
        width:40px; height:40px;
        position:absolute; top:0; left:34px;
    }
    #discover .swiper-cont .slick-prev {
        top:520px;
    }
    #discover .swiper-cont .slick-next {
        top:575px;
    }
    
    /* designer */
    #designer {
        padding:111px 54px 110px 54px; 
    }
    #designer p:nth-child(2) {
        font-size:2em;
    }
    #designer .main_txt {
        font-size:5.2em; line-height:1.35em;
    }
    #designer .designer_img img {
        width:53.71%;
    }
    
    /* footer */
    footer {
        padding:28px 54px 28px 54px; 
    }
    footer .footer_inner .footer_info {
        width:65%;
    }
    footer .footer_inner .footer_info span:after {
        margin:0 8px;
    }
    footer .footer_inner .footer_sns_wrap {
        width:35%;
    }
}

/* main tablet 1300 size */

@media screen and (min-width:1300px) {
    
    /* main visual */
    .main_visual .main_text p:nth-child(3) {
        font-size:9em; line-height:1.4em;
    }
    
    /* story */
    #story {
        padding:111px 10.94% 0 10.94%; 
        position:relative;
    }
    #story .text_box span:nth-child(2) {
        font-size:10em;
    }
    #story .story_left {
        width:45.58%; height:844px;
        left:-7.4%; margin-top:76px;
    }
    #story .story_left .box_left {
        width:100%; height:785px;
        margin-top:60px; margin-left:-10.94%;
    }
    #story .story_left .img_left {
        width:79.83%; height:700px;
    }
    #story .story_middle {
        width:57.55%; height:800px;
        margin-top:-1025px;
        z-index:-1;
    }
    #story .story_middle .box_middle {
        width:100%; height:845px; margin-top:-47px;
        margin-right:-10.94%;
    }
    #story .story_middle .img_middle {
        width:66.67%; height:100%;
    }
    #story .story_right {
        width:17.71%; height:437px;
        margin-right:-10.94%;
    }
    #story .story_right .box_right {
        width:100%; height:100%;
        top:0;
    }
    #story .story_right .img_right {
        width:88.24%; height:400px;
    }
    #story .story_text {
        width:40.04%;
        margin-left:45%; margin-top:-176px;
    }
    #story .sika_svg {
        left:8%;
    }
    #story .design_svg {
        left:27%; bottom:100px;
    }
    
    /* discover */
    #discover {
        padding:111px 0 113px 10.94%; 
    }
    #discover .text_box span:nth-child(2) {
        font-size:10em;
    }
    #discover .swiper-cont {
        width:125%; margin-bottom:50px;
    }
    #discover .img_wrap_inner img {
        width:400px;
    }
    #discover .img_wrap_inner > a {
        width:400px;
    }
    #discover .show_product {
        padding-top:150px;
    }
    
    /* button */
    #discover .swiper-cont .slick-prev, #discover .slick-next {
        width:50px; left:6%;
    }
    #discover .swiper-cont .slick-prev {
        top:590px;
    }
    #discover .swiper-cont .slick-next {
        top:650px;
    }
    
    /* designer */
    #designer .main_txt {
        font-size:6em; line-height:1.4em;
    }
    #designer .designer_img img {
        width:33.66%;
    }
    #designer .designer_box div {
        width:60%; height:180px;
    }
    #designer .designer_box div:nth-child(1) {
        top:250px;
    }
    #designer .designer_box div:nth-child(2) {
        bottom:220px;
    }
    
    /* location */
    #location {
        padding:111px 10.94% 113px 10.94%; 
    }
    #location .location_box {
        width:40%;
    }
    #location .location_img_box {
        width:66.86%; height:600px;
    }
    #location .location_img_box > div:nth-child(1) {
        left:3.65%;
    }
    #location .find_store {
        width:357px;
        position:absolute; bottom:307px; right:10.94%;
    }
    
    /* footer */
    footer {
        padding:43px 10.94% 39px 10.94%; 
    }
    footer .footer_inner .footer_sns_wrap {
        top:0;
    }
}

@media screen and (min-width:1500px) {
    #discover .swiper-cont {
        width:140%;
    }
}
@media screen and (min-width:1700px) {
    #discover .swiper-cont {
        width:100%;
    }
}


/* animation */

@keyframes main_ani {
		0% {transform: translate3d(0px, 20px, 0px); opacity: 0;}
		100% {transform: translate3d(0px, 0px, 0px); opacity: 1;}
}

@keyframes box_aniL {
		0% {transform:translateX(-120%);}
		100% {transform:translateX(0%);}
}

@keyframes box_aniR {
		0% {transform:translateX(120%);}
		100% {transform:translateX(0%);}
}

@keyframes text_ani {
		0% {transform: translateY(10%); opacity: 0;}
		100% {transform: translateY(0%); opacity: 1;}
}

@keyframes scroll_ani {
		0% {transform:translateY(0px);}
		50% {transform:translateY(20px);}
		100% {transform:translateY(0px);}
}

@keyframes fade
{
  0%   {opacity:1}
  33.333% { opacity: 0}
  66.666% { opacity: 0}
  100% { opacity: 1}
}
@keyframes fade2
{
  0%   {opacity:0}
  33.333% { opacity: 1}
  66.666% { opacity: 0 }
  100% { opacity: 0}
}
@keyframes fade3
{
  0%   {opacity:0}
  33.333% { opacity: 0}
  66.666% { opacity: 1}
  100% { opacity: 0}
}


/* animation apply */

.slide1 {
    animation:fade 8s infinite;
}
.slide2 {
    animation:fade2 8s infinite;
}

.slide3 {
    animation:fade3 8s infinite;
}

.main_visual div p {
		animation:main_ani 1.8s ease-out;
}

.main_visual .scroll_svg {
		animation:scroll_ani 2s ease;
		animation-iteration-count: infinite;
}
#story .story_left.ani {
		animation:box_aniL 1.5s ease-in-out;
        animation-duration: 3s;
}
#story .story_middle.ani {
		animation:box_aniR 2.0s ease-in-out;
}
#story .story_text p.ani {
		animation:text_ani 1.5s ease-in-out;
}
#designer p:nth-of-type(2).ani {
		animation:text_ani 1.5s ease-in-out;
}
#designer p:nth-of-type(3).ani {
		animation:text_ani 1.5s ease-in-out;
}
#designer .designer_box div:nth-child(1).ani {
		animation:box_aniL 1.5s ease-in-out;
}
#designer .designer_box div:nth-child(2).ani {
		animation:box_aniR 1.5s ease-in-out;
}
#location .location_box.ani {
        animation:box_aniL 1.8s ease-in-out;
        animation-delay:0.3s;
}
#location .location_img_box p.ani {
        animation:text_ani 1.5s ease-in-out;
}



